In [1]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.linear_model import LogisticRegression

In [7]:
import pandas as pd
import numpy as np

In [9]:
credit_filepath = "C:/Users/EQUIPO/Desktop/py4e/dataset.csv"
credit_data = pd.read_csv(credit_filepath)
credit_data.head(5)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target
0,5008804,1,1,1,1,0,0,0,0,2,15,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1
1,5008806,1,1,1,0,0,0,0,0,2,29,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0
2,5008808,0,0,1,0,1,1,0,0,1,4,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0
3,5008812,0,0,1,0,0,0,1,0,1,20,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0
4,5008815,1,1,1,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0

In [11]:
#Quick way to check for null values
na_columns = [col for col in credit_data.columns
 if credit_data[col].isnull().any()]
print(na_columns)
#No Null values, this table is clean!

[]

In [17]:
#define y variable
y = credit_data.Target

In [77]:
#def function to replace family status
def fun1(string):
    if string == "Civil marriage":
        return 'Married'
    elif string == "Single / not married":
        return 'Single'
    else:
        return string

In [79]:
Marital_status = credit_data['Family_status'].apply(fun1)
credit_data['Marital_status'] = Marital_status
credit_data.head(5)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,...,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target,Marital_status
0,5008804,1,1,1,1,0,0,0,0,2,...,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1,Married
1,5008806,1,1,1,0,0,0,0,0,2,...,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0,Married
2,5008808,0,0,1,0,1,1,0,0,1,...,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0,Single
3,5008812,0,0,1,0,0,0,1,0,1,...,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0,Separated
4,5008815,1,1,1,1,1,1,0,0,2,...,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0,Married

In [89]:
#define X variables
X_features = ['Gender','Own_car','Own_property','Unemployed','Total_income','Age','Years_employed', 'Marital_status']
X = credit_data[X_features]

In [ ]:
#transform marita status into levels

In [91]:
#create training and validation data
train_X, val_X, train_y, val_y = train_test_split(X, y, train_size = 0.6, random_state = 0)

In [93]:
model = LogisticRegression()

In [95]:
model.fit(train_X, train_y)

ValueError: could not convert string to float: 'Married'

In [53]:
y_pred = model.predict(val_X)

In [55]:
#How's the model doing
model.score(val_X, val_y)

0.8712667353244078

In [31]:
#confusion matrix
from sklearn.metrics import confusion_matrix

In [57]:
print(confusion_matrix(val_y, y_pred))

[[3384    0]
 [ 500    0]]

In [37]:
#classification report
from sklearn.metrics import classification_report

In [59]:
print(classification_report(val_y, y_pred))

              precision    recall  f1-score   support

           0       0.87      1.00      0.93      3384
           1       0.00      0.00      0.00       500

    accuracy                           0.87      3884
   macro avg       0.44      0.50      0.47      3884
weighted avg       0.76      0.87      0.81      3884

C:\Users\EQUIPO\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\EQUIPO\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\EQUIPO\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [61]:
 set(val_y) - set(y_pred)

{1}

### It seems like the variables in the dataset only predict when someone is not eligible for a credit card, whereas it cannot predict when someone is eligible